"*":
  "atom-package-deps":
    ignored: []
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 11
    showInvisibles: true
  "exception-reporting":
    userId: "54e86a08-134e-47f3-bd24-fd8b910af399"
  "go-plus":
    currentPanelHeight: "32.75830258302583vh"
    panel:
      currentHeight: "23.75461254612546vh"
  "linter-ui-default":
    panelHeight: 93
    showPanel: true
  welcome:
    showOnStartup: false
